<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/mystyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Muyaho</title>
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }
    </style> 
</head>
<body>
    <header>
        {{> navbar}}
    </header>
    <body class="backimg">
    {{{body}}}
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({ once: 'true'
	});
  </script>

    </body>
</body>
</html>

<script>
        window.addEventListener('scroll', function () {
            let header = document.querySelector('header');
            let windowPosition = window.scrollY > 0;
            header.classList.toggle('scrolling-active', windowPosition);
        })

        function change(tog){
            let header = document.querySelector('header');
            if(window.scrollY=== 0){
                console.log(window.scrollY);
                header.classList.toggle('scrolling-active', tog);
            }else{
                console.log("scroll");
                console.log(window.scrollY);
                header.classList.toggle('scrolling-active', 1);
            }
        }
</script>

<style type="text/css">
    .backgra{
        background: linear-gradient(135deg, red, blue, yellow);
        background-attachment: fixed;
        width: 100%;
    }    

    .backimg{
    width: 100%;
    height: 130vh;
    background-image: url("/images/image7.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

</style>