{{!-- <div class="flex justify-center">

    <div class="w-10/12 bg-indigo-200 rounded-md mt-10">
        <div class="m-12">
        <h1 class="text-5xl mb-10">Muyaho</h1>
        <p class="text-lg">
            195회차 유재석, 정형돈, 노홍철은 알래스카로 떠나 김상덕을 찾고자 앵커리지 한인회관을 찾아 탐문을 벌인다. 최규재 할아버지를 포함하여 알래스카의 당시 현지 교민들과 이야기를 나누던 도중, 유돈노 팀은 혹시 무한도전을 알고 있느냐는 질문을 던졌고, 권오성 할아버지는 머쓱하게 모른다고 솔직히 답하였으나, 최규재 할아버지는 멤버들이 무안할까 봐 "저희가 많이 본다"며 받아 주려 했다. 하지만 이때 노홍철이 갑자기 무한도전의 구호를 같이 외치자며 "무한~"이라고 운을 띄우자 당황한 할아버지는 "무~야~호~!"란 이상하고 뜬금없는 구호를 외치면서 큰 웃음을 주었고, 직후 정형돈은 할아버지가 무안하지 않게 "그만큼 신나시는 거지~"라고 수습하였다.
        </p>
        </div>
    </div>
</div> --}}

<div class="flex flex-col flex-wrap content-center mx-3" style="overflow-x: hidden">
    <div class="mt-16"></div>

    <div class="bg-indigo-200 container py-12 max-w-4xl text-black px-3 md:px-16 rounded-xl mt-10 md:mt-16 shadow-2xl" data-aos="fade-left">
        <div class="md:flex items-center">
            <div class="text-4xl font-semibold text-center md:text-left mb-7">"무야호"</div>
            <img class="object-contain mx-auto md:mr-0 rounded-2xl md:h-40 mb-6" src="/images/index/muyaho.jpg"/>
            {{!-- <p class="text-lg">show details</p> --}}
        </div>
        <div class="text-left text-base md:text-lg">
            <p>
                195회차 유재석, 정형돈, 노홍철은 알래스카로 떠나 김상덕을 찾고자 앵커리지 한인회관을 찾아 탐문을 벌인다. 최규재 할아버지를 포함하여 알래스카의 당시 현지 교민들과 이야기를 나누던 도중, 유돈노 팀은 혹시 무한도전을 알고 있느냐는 질문을 던졌고, 권오성 할아버지는 머쓱하게 모른다고 솔직히 답하였으나, 최규재 할아버지는 멤버들이 무안할까 봐 "저희가 많이 본다"며 받아 주려 했다. 하지만 이때 노홍철이 갑자기 무한도전의 구호를 같이 외치자며 "무한~"이라고 운을 띄우자 당황한 할아버지는 "무~야~호~!"란 이상하고 뜬금없는 구호를 외치면서 큰 웃음을 주었고, 직후 정형돈은 할아버지가 무안하지 않게 "그만큼 신나시는 거지~"라고 수습하였다.
            </p>
        </div>
    </div>

    <div class="bg-indigo-200 container py-12 max-w-4xl text-black px-7 rounded-xl mt-10 md:mt-16 shadow-2xl" data-aos="fade-left">
        <div class="md:flex items-center">
            <div class="text-4xl font-semibold mb-7">"아뇨, 뚱인데요?"</div>
            <img class="object-contain mx-auto md:mr-0 rounded-2xl md:h-40 mb-6" src="/images/index/patrick.jpg"/>
            {{!-- <p class="text-lg">show details</p> --}}
        </div>
        <div class="text-left text-base md:text-lg">
            <p>
                뚱이의 대사 중 가장 대중적으로 밈화되었다고 볼 수 있는 대사. 해당 대사는 2기 5화 'Big Pink Loser(더빙판: 나도 상받고 싶어(EBS), 스폰지밥 따라하기(재능, 닉))'에서 나온 대사인데, 이걸 보면 뚱이의 멍청한 모습이 가장 잘 드러난다. 영어 원문은 "NO! THIS IS PATRICK!"인데 이게 외국에서 일종의 필수요소가 되었다. 24개 언어판 비교 영상. 피아노 더빙도 있다.
            </p>
        </div>
    </div> 

    <div class="bg-indigo-200 container py-12 max-w-4xl text-black px-7 rounded-xl mt-10 md:mt-16 shadow-2xl" data-aos="fade-left">
        <div class="md:flex items-center">
            <div class="text-4xl font-semibold mb-7">"엄준식"</div>
            <img class="object-contain mx-auto md:mr-0 rounded-2xl md:h-40 mb-6" src="/images/index/um.png"/>
            {{!-- <p class="text-lg">show details</p> --}}
        </div>
        <div class="text-left text-base md:text-lg">
            <p>
                카카오TV에서 인터넷 방송 활동을 했던 아무무의 본명이다. 
                카카오TV의 전신인 다음 tv팟에서 방송을 시작했다. 다음 tv팟의 인기 PD들이 대거 군 입대나 타 플랫폼으로 이전하면서 생긴 공백을 틈타 도파를 비롯한 롤 방송인들의 게임을 보면서 방송을 시작한 게 그 기원이다. 이후 리그 오브 레전드 천상계 유저나 프로게이머의 게임을 관전하며 중계하는 것을 주력 컨텐츠로 삼으면서 점차 유명세를 얻었고 이른바 '리모컨' PD라는 타이틀도 걸게 된다.
                자신은 영국 유학을 다녀온 적이 있으며 '톰 클라스'라는 이름의 현지인 친구까지 사귀었다고 주장하지만, 그 증거를 좀처럼 보여주지 않는다. 대충 팟수들은 또 엄준식이 치는 구라겠거니 하며 밈으로 여기는 중. 허풍쟁이 이미지 때문인 것도 있지만, 축구 중계 방송을 할 때 리버풀 FC의 팬덤인 콥을 자처했지만 자칭 영국 유학파라는 사람이 축구 선수 이름도 제대로 읽지 못하는 모습을 보여줬기 때문이다.
            </p>
        </div>
    </div> 


    

 



</div>

