<div class="flex justify-center">
<div class="w-full max-w-md mt-32 mx-3">
  <form action="/users/register" class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4" method="POST">
    <div>
      <p class="text-3xl mb-8 font-semibold">
        Register
      </p>
    </div>
    <div class="mb-4">  {{!-- username --}}
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="name" id="username" type="text" placeholder="Username" required>
    </div>
    <div class="mb-4">  {{!-- email --}}
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        E-mail
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="email" id="username" type="text" placeholder="email address">
    </div>
    <div class="mb-4">  {{!-- password --}}
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input onchange="check_pw()" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password" id="password" type="password" placeholder="******************">
      {{!-- <p class="text-red-500 text-xs italic">Please choose a password.</p> --}}
    </div>
    <div class="mb-6">  {{!-- confirm password --}}
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Confirm Password
      </label>
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" name="password2" id="password2" type="password" placeholder="******************">
      {{!-- <p class="text-red-500 text-xs italic">Please choose a password.</p> --}}
      &nbsp;<span id="check"></span>
    </div>
    <div class="flex items-center justify-between"> {{!-- Sign button, forgot password? --}}
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" id="btn">
        Sign In
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
        Forgot Password?
      </a>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2021 M&A. All rights reserved.
  </p>
</div>
</div>


<script>

  function check_pw(){
    var pw = document.getElementById('password').value;
    var SC = ["!","@","#","$","%"];
    var check_SC = 0;

    btn = document.getElementById('btn');
    if(pw.length < 6){
      window.alert('비밀번호는 6자 이상 입력해주세요.');
      btn.disabled = 'disabled';
            btn.style.backgroundColor = "gray";
      return;
    }

    for(var i=0;i<SC.length;i++){
      if(pw.indexOf(SC[i])!=-1){
        console.log("no");
        check_SC = 1;
      }
    }
    if(check_SC==0){
      window.alert('특수문자를 입력해주세요');
      btn.disabled = 'disabled';
            btn.style.backgroundColor = "gray";
    } else{
      btn.disabled = false;
    }

  }

  password2.oninput = function(){
    if(document.getElementById('password').value !='' && document.getElementById('password2').value!=''){
        if(document.getElementById('password').value==document.getElementById('password2').value){
            document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
            document.getElementById('check').style.color='blue';
            btn = document.getElementById('btn');
            btn.disabled = false;
        }
        else{
            document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
            document.getElementById('check').style.color='red';
            btn = document.getElementById('btn');
            btn.style.backgroundColor = "gray";
            btn.disabled = 'disabled';
        }
    }
  }
</script>