<form action="/todos" method="post">
    <p><input name="title" type="text" placeholder="title input"></p>
    <p>
        <textarea name="description" placeholder="description"></textarea>
    </p>
    <p>
        <input type="submit">
    </p>
</form>